<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    <title>WhatsApp</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
<div id="app">
    <header class="hero_header"></header>
    
    <div class="hero_container">
        <!-- section_contact_left -->
        <div class="contacts">
            <header class="header_contacts">
                <div class="main_user">
                    <img class="img_user" src="./assets/img/avatar_io.jpg" alt="">
                </div>

                <div class="icon_action">
                    <span><i class="fa-solid fa-circle-notch"></i></span>
                    <span><i class="fa-solid fa-message"></i></span>
                    <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                </div>

            </header>
            <div class="notification">
                <span><i class="fa-solid fa-bell-slash "></i></span>

                <div class="info">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <span><a href="#">Attiva Notifiche desktop</a></span>
                </div>
            </div>
            <div class="search_chat">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
               <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!--*** CONTAINER USER FRIEND CHAT *****-->
            <div class="container_chat_saved">
                <!-- utente1 -->
                <div  v-for="(contact, index) in contacts" :class="(contacts_active === index ) ? 'active' : ''" @click="contacts_active = index" class="friend">
                    <div class="left">
                        <img class="friend_user" :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                        <div class="info_friend">
                            <span class="name_friend">{{contact.name}}</span>
                            <span  class="last_message">{{contact.messages[contact.messages.length - 1].message}}</span>
                        </div>
                    </div>
                    <div class="hour">
                        <span>{{contact.messages.date}}</span>
                    </div>
                </div>

                <!-- utente2 -->

                
                
            </div>
        </div>
        <!-- section contact right -->
        
        <div class="conversation">
            <header class="header_conversation">
                <div class="user_chat">
                    <div class="user_friend">
                       <img class="img_user" src="./assets/img/avatar_8.jpg" alt="">
                    </div>
                    <div class="general">
                        <span class="name">Michele</span>
                        <span class="last_minut">Ultimo accesso alle 12.50</span>
                    </div>
                </div>

                <div class="icon_conversation">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    <span><i class="fa-solid fa-paperclip"></i></span>
                    <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                </div>
            </header>

            <section v-for="(chat, i) in contacts" id="chat">
                <div class="my_message">
                    <span>Lorem, ipsum dolor.</span>
                </div>
                <div class="contact_message">
                    <span>{{chat.messages.message}}</span>
                </div>
                
            </section>
            <!-- input chat user insert -->
            <div class="input_chat">
                <span><i class="fa-solid fa-face-smile"></i></span>
                <input type="text" placeholder="Scrivi un messaggio">
                <span><i class="fa-solid fa-microphone"></i></span>
            </div>
        </div>

    </div>
       

</div>


    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>"
    <script src="./assets/javascript/app.js"></script>
</body>
</html>