*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--container-bg-color);
}

/* root  */
:root{
    --header-bg-color:rgba(0, 150, 136, 1);
    --container-bg-color: rgba(217, 219, 213, 1);
    --bg-notification: rgba(142, 218, 252, 1);
    --bg_header_contact-conversation : rgba(234, 234, 234, 1);
    --button_search: rgba(255, 255, 255, 1);
    --bg_search : rgba(255, 255, 255, 1);
}

img{
    cursor:pointer;
}

/* hover effect */
.fa-circle-notch:hover{
    color:limegreen;
}




/* container principale */
#app{
    display:flex;
    flex-direction: column;
    
    
    position:Relative;
    width: 100%;
    height: 97vh;
    background-color: var(--container-bg-color);
}


.hero_header{
    background-color: var(--header-bg-color);
    min-width: 100%;
    min-height: 15vh;
}

.hero_container{
     width: 66.6vw;
    
    height: 950px;
    
    margin:-6rem auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* format img user */

.img_user{
    border-radius: 100%;
    width: 45px;
    margin:10px;
    
    
}
.notification{
    width: 100%;
    height: 7vh;
    display:flex;
    justify-content: flex-start;
    
    align-items: center;
    background-color: var(--bg-notification);
}

.info{
    display: flex;
    flex-direction: column;
    
    
}
.notification > span{
    font-size: 25px;
    border-radius: 100%;
    border: 1px solid transparent;
    padding:10px;
    background-color: white;
    margin-right: 50px;
    margin:20px;
}

.friend_user{
    width: 55px;
    border-radius: 100%;
    margin-left:15px;
    

}

/* section contacts chat left */
.contacts{
    width: 35%;
    height: 100%;
    border:1px solid rgba(219, 219, 219, 1);
    background-color: rgba(255, 255, 255, 1);
}

.header_contacts{
    width: 100%;
    height: 6vh;
    background-color: var(--bg_header_contact-conversation);
    border:1px solid rgba(219, 219, 219, 1);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    
    
}
.header_conversation{
    position: fixed;
    width: 42.4vw;
    height: 6vh;
    background-color: var(--bg_header_contact-conversation);
    border:1px solid rgba(219, 219, 219, 1);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    
}

.user_chat{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.general{
    display:Flex;
    flex-direction: column;
}

.last_minut{
    color:grey;
}


/* section conversation chat right */
.conversation{
    position:relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 65%;
    height: 100%;
    border:1px solid rgba(219, 219, 219, 1);
    
    overflow: hidden;
    overflow-y: scroll;
    
}

.container_chat_saved{
    overflow: hidden;
    overflow-y: scroll;
}



.icon_conversation > span{
    margin:10px;
    font-size: 20px;
    cursor:pointer;
}

/* section inside conversation chat user */
.input_chat{
    position: fixed;
   bottom:58px;
    width: 42.4vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    
    height: 6vh;
    background-color: var(--bg_header_contact-conversation);
}

.input_chat > input{
    width: 90%;
    padding:10px;
    border-radius: 10px;
    border:none;
}
.search_chat > input{
    width: 100%;
    border:none;
    padding:10px;
    margin:25px;
}

.search_chat > span{
    font-size: 20px;
}
.search_chat{
    display:flex;
    margin-left: 20px;;
    align-items: center;
    padding:10px;
}

.input_chat > span{
    font-size: 20px;
    cursor:pointer;
}

.icon_action > span{
    margin:10px;
    font-size: 20px;
    
    cursor:pointer;
}

.fa-solid{
    color:grey;
}

/* container chat friend left */
.container_chat_saved{
    display:Flex;
    flex-direction: column;
    
    align-items: center;
    cursor:pointer;
    justify-content: space-between;

}
.friend{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}


.friend:hover{
    background-color: rgba(233, 235, 235, 1);
}


.hour > span{
    color:grey;
    margin:10px;
}

.last_message{
    color:grey;
    
}

.info_friend{
    display:flex;
    margin:10px;
    flex-direction: column;
   
}


.left{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.user_text{
    color:green;
}

.contact_chat{
    color:white;
}

.chat{
    display:Flex;
    flex-direction: column;
}

.my_message{
    display:Flex;
    justify-content: flex-end;
    
}

.my_message > span{
    width: 320px;
    
    padding:20px;
    margin-right:80px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(213, 249, 186, 1);
}

.contact_message {
    width: 320px;
    
    padding:20px;
    margin-left:80px;
    margin-top:80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.active{
    background-color: rgba(233, 235, 235, 1);
}

.container_chat{
    
    background-image: url(../img/mine.jpg);
    height: 100%;
}

#chat:first-child{
    margin-top: 100px;
}

#chat > span{
    display:flex;
    justify-content: flex-start;
}